#!/bin/sh

case "$1" in
    build)
        ;;
    package)
        mkdir -p ${pkgdir}/usr/share/wazo-binauralrecording-patch
        cp wazo-calld.patch ${pkgdir}/usr/share/wazo-binauralrecording-patch/
        cp wazo-agid.patch ${pkgdir}/usr/share/wazo-binauralrecording-patch/
        cp xivo-config.patch ${pkgdir}/usr/share/wazo-binauralrecording-patch/
        ;;
    install)
        echo "Applying patches"
        patch --verbose --reject-file - -p1 -d /usr/share/xivo-config < /usr/share/wazo-binauralrecording-patch//xivo-config.patch
        patch --verbose --reject-file - -p1 -d /usr/lib/python3/dist-packages < /usr/share/wazo-binauralrecording-patch//wazo-agid.patch
        patch --verbose --reject-file - -p1 -d /usr/lib/python3/dist-packages < /usr/share/wazo-binauralrecording-patch//wazo-calld.patch
        echo "Restarting patched services"
        systemctl restart wazo-calld wazo-agid
        asterisk -x 'dialplan reload'
        ;;
    uninstall)
        patch --verbose -p1 -R -d /usr/share/xivo-config < /usr/share/wazo-binauralrecording-patch/xivo-config.patch || true;
        patch --verbose -p1 -R -d /usr/lib/python3/dist-packages < /usr/share/wazo-binauralrecording-patch/wazo-agid.patch || true;
        patch --verbose -p1 -R -d /usr/lib/python3/dist-packages < /usr/share/wazo-binauralrecording-patch/wazo-calld.patch || true;
        systemctl restart wazo-calld wazo-agid;
        asterisk -x 'dialplan reload';
        ;;
    postrm)
        ;;
    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
        ;;
esac
